*{
    margin: 0;
    padding: 20px;
}
body{
    border: 1px solid blue;
}
p{
    font-family: Arial, Helvetica, sans-serif;
    text-indent: 30px;
    text-transform: capitalize;
    white-space: pre-wrap;
    word-spacing: 15px;
    letter-spacing: 10px;
}